{% extends 'layouts/base.html' %} {% block title %} products {% endblock %} {% block content %}
<style>
    table {
        background-color: rgba(1, 1, 1, 0.453);
    }
    
    td {
        color: rgb(255, 255, 255);
    }
</style>
<div class="container mt-3 row">
    <div class="col-4"></div>
    <div class="mb-3 col">
        <form method="POST">
            <div class="col"></div>
            <select name="period" class="form-control">
                    <option selected='true' disabled>Period</option>
                    {% if periods %}
                        {% for period in periods %}
                            {% if pd == period[0] %}
                                <option selected='True' disabled value="{{period[0]}}">{{period[1]}}-{{period[2]}}</option>
                            {% else %}
                                <option value="{{period[0]}}">{{period[1]}}-{{period[2]}}</option>
                            {% endif %}
                        {% endfor %}
                    {% endif%}
                </select>
    </div>
    <div class="col-3"> <button type="submit" class="btn btn-dark">Choose</button></div>
    </form>
</div>
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <a class="btn btn-outline-dark" href="{{url_for('createProducts')}}"><i class="bi bi-plus-circle-fill"></i> <b>New Product</b> </a>
            <br>
            <br>
            <table class="table table-responsive">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Category</th>
                        <th>Supplier</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Value</th>
                        <th>Date Admission</th>
                        <th>Due Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for product in products %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{product[1]}}</td>
                        <td>{{product[2]}}</td>
                        <td>{{product[3]}}</td>
                        <td>{{product[4]}}</td>
                        <td>{{product[5]}}</td>
                        <td>{{product[6]}}</td>
                        <td>{{product[7]}}</td>
                        <td>
                            <a class="btn btn-success" href="{{url_for('editProducts', idProduct=product[0])}}"><i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" href="{{url_for('removeProducts', idProduct=product[0])}}"><i class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}