{% extends 'layouts/base.html' %} {% block title %} Crear cajero {% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col">
            <center>
                <h2><b>Crear cajero</b></h2>
            </center>
            <form method="POST">
                <div class="mb-3">
                    <label for="identification">Identificacion</label>
                    <input class="form-control" type="text" name="identification" id="identification">
                </div>
                <div class="mb-3">
                    <label for="name">Nombre</label>
                    <input class="form-control" type="text" name="name" id="name">
                </div>
                <div class="mb-3">
                    <label for="contact">Contacto</label>
                    <input class="form-control" type="text" name="contact" id="contact">
                </div>
                <div class="mb-3">
                    <label for="direction">Direccion</label>
                    <input class="form-control" type="text" name="direction" id="direction">
                </div>
                <div class="mb-3">
                    <label for="arrival_time">Hora entrada</label>
                    <input class="form-control" type="time" name="arrival_time" id="arrival_time">
                </div>
                <div class="mb-3">
                    <label for="departure_time">Hora salida</label>
                    <input class="form-control" type="time" name="departure_time" id="departure_time">
                </div>
                <button class="btn btn-success" type="submit"><i class="bi bi-save-fill"></i></button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock %}